@charset "utf-8";

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	outline: 0;
}

html, 
body, 
#container,
#content {
	height: 100%;
	font-family: sans-serif;
	background-color: #ecf1f8;
	color: #333;
	-webkit-font-smoothing: antialiased !important;
}

#content {
	padding: 30px;

}

a {
	text-decoration: none;
}
 
#header {
	height: 50px;
	padding: 0px 30px;
	background-color: #7159c1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.header__logo h1 a{
	color: #fff;
}

.header__logo h1 a:hover {
	opacity: .8;
}

.header__user_logged span:first-child {
	margin-right: 20px;
	font-weight: bold;
}

.button {
	padding: 10px 20px;
	border-radius: 5px;
}

.button__logout {
	background-color: #d13737;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
}

.button__logout:hover {
	transition: all .4s;
	color: #d13737;
	background-color: #fff;
}

.button__login {
	background-color: #fff;
	font-weight: 300;
	font-size: 14px;
	color: #d13737;
	font-weight: bold;
}

.button__login:hover {
	opacity: 0.8;
}

.button__addPost {
	background-color: #51c987;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}

.button__addPost:hover {
	opacity: .8;
}

.button__signup {
	color: #fff;
}

.button__signup:hover {
	opacity: 0.8;
}

.button__edit {
	color: #6495ed;
}

.button__delete {
	color: #d13737;
}


#main__title {
	font-size: 30px;
	margin-bottom: 50px;
}

table {
	margin-top: 20px;
	width: 100%;
	border-collapse: collapse;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 5px 2px 20px rgba(0, 0, 0, .1);
}

tr th {
	text-align: left;
	padding: 20px;
	background-color: #fff;
	font-weight: bold;
}

tr td {
	width: 25% ;
	padding: 15px;
	background-color: #fff;
}


.message {
	padding: 10px;
	font-weight: bold;
	font-size: 16px;
	border-radius: 5px;
	margin-bottom: 30px;	
}

.success {
	color: rgb(65, 139, 50);
	background-color: #a6f572;
}

.error {
	color: #921111;
	background-color: #e97777;
}

fieldset {
	width: 500px;
	border: 0;
	background-color: #fff;
	padding: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 5px 2px 20px rgba(0, 0, 0, .1);
	border-radius: 5px;
}

fieldset legend {
	background-color: #fff;
	padding: 15px;
	font-size: 16px;
	font-weight: bold;
	color: #7159c1;
	border-radius: 5px;
}

fieldset label {
	font-size: 14px;
	color: #444;
	margin-bottom: 5px;
}

fieldset input[type="text"],
fieldset input[type="password"],
fieldset select {
	display: block;
	border: 0;
	width: 100%;
	border-radius: 5px;
	background-color: #ecf1f8;
	padding: 15px;
	margin-bottom: 10px;
	margin-top: 5px;
}

fieldset input[type="submit"] {
	width: 100%;
	border: 0;
	padding: 15px;
	color: #fff;
	font-weight: bold;
	background-color: #7159c1;
	border-radius: 5px;
	cursor: pointer;
}

fieldset input[type="submit"]:hover {
	opacity: .8;
}

fieldset textarea {
	display: block;
	width: 100%;
	border-radius: 5px;
	background-color: #ecf1f8;
	border: 0;
	height: 100px;
	resize: none;
	padding: 15px;
	margin-bottom: 10px;
}

#view__post {
	width: 600px;
	padding: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 5px 2px 20px rgba(0, 0, 0, .1);
	border-radius: 5px;
	background-color: #fff;
}

#view__post p:last-child {
	margin-top: 50px !important;
}

